* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  background: #ffffff;
}

/* Section */
.special-offer{
  width: 90%;
  max-width: 1200px;
  margin: 100px auto;
}

/* Header */
.offer-header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
/* Buttons */
.slider-buttons{
  display: flex;
  gap: 20px;
}

.slider-buttons button{
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prev{
  background:#1E2A39;
}

.next{
  background: #FF7757;
}

.slider-buttons button:hover{
  opacity: .9;
}
.slider-buttons img{
  width: 12px;
}

/* Header text */
.header-text{
  text-align: right;
}

.header-text h2{
  font-size: 48px;
  color: #172432;
  margin-bottom:10px;
  font-family:Playfair Display;
  font-weight: 400;
}

.header-text img{
  margin-bottom: 15px;
}

.header-text p{
  color:#767E86
  font-size:18px;
}

/* Cards */
.cards{
  display: flex;
  justify-content: space-between;
  gap:30px;
}

.card{
  width: cal((100%-60px)/3);
  background: #fff8f1;
  border-radius: 20px;
  overflow:hidden;
  box-shadow: 0 8px 20px rgba(0,0,0,.08);
  transition:.3s;
}

.card:hover{
  transform: translateY(-8px);
}
.card img{
  width: 100%;
  display: block;
}

/* Card content */
.card-content{
  padding: 22px;
}

.card-content h3{
  color: #767E86;
  font-size: 28px;
  font-weight: 400;
  margin-button:10px;
}
.stars{
  color:#ffC107;
  margin-bottom: 18px;
}

.stars i{
  margin-right: 2px;
}

.card-content p{
  color: #555;
  font-size: 14px;
  line-height: 1.6;
  margin-buttom:25px;
}

/* price */
